#banner
  .banner_content
    %h1 File Cabinet
    %p Never forget anything!
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Echo park literally organic, normcore post-ironic mlkshk chillwave. Listicle
        tattooed truffaut microdosing etsy. Hella single-origin coffee schlitz messenger bag,
        plaid mlkshk put a bird on it fixie. Hoodie church-key kinfolk pork belly. YOLO truffaut
        chicharrones migas. Literally keffiyeh plaid williamsburg mustache sustainable. Plaid ethical
        mlkshk, brooklyn bushwick franzen pabst.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path